.Header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 50px;
  padding: 5px 15px;

  background-color: var(--color-default);

  background-image: none;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: fixed;
  z-index: 1100;
  top: 0px;
  left: auto;
  right: 0px;
  box-shadow: none;
  backdrop-filter: blur(8px);
  border-style: solid;
  border-color: rgba(194, 224, 255, 0.08);
  border-width: 0px 0px thin;
  background-color: rgba(10, 25, 41, 0.7);
}
