.Header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 80px;
  padding: 5px 15px;

  background-color: var(--color-blue2);

  &__buttons {
    display: flex;
    gap: 15px;
  }

  &__button {
    color: black !important;
    background-color: white !important;
  }
}
